* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

header {
}

nav {
	display: flex;
	font-family: "Manrope", sans-serif;
	font-optical-sizing: auto;
	margin-left: 100px;
	margin-right: 100px;
}

nav :last-child {
	margin-left: auto;
}

.logo {
	margin-top: 50px;
}

.navs {
	margin-top: 50px;
	text-decoration: underline 3px #44ffa1;
}
.navs:hover {
	color: #44ffa1;
}

.titre {
	display: flex;
	justify-content: center;
	font-family: "Fraunces", serif;
	font-optical-sizing: auto;
	margin-top: 55px;
	font-size: 200%;
	text-align: center;
}

.button1 {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.button11 {
	background-color: #44ffa1;
	color: black;
	padding: 15px;
	border: none;
	font-family: "Manrope", sans-serif;
	font-optical-sizing: auto;
}

.button11:hover {
	color: #44ffa1;
	border: solid 1px #44ffa1;
	background: #24053e;
}

.img-tel {
	display: flex;
	justify-content: center;
	transform: translateY(45%);
}

.back {
	background-color: #24053e;
	color: white;
	border-radius: 0% 0% 10% 10%;
}

.bbox {
	display: flex;
	margin-top: 300px;
	text-align: center;
	gap: 250px;
	margin-left: 50px;
	margin-right: 50px;
	padding: 100px;
	font-family: "Fraunces", serif;
	background-color: #fcf8ff;
}

.bbbox1 {
	position: relative;
	background-color: #24053e;
	color: white;
	width: 50%;
	height: 80%;
	padding: 50px;
	top: 300px;
	left: 450px;
}

.p-bbbox1 {
	font-size: 125%;
}

.last-h2 {
	font-size: 400%;
	margin-bottom: 50px;
}

.button22 {
	background-color: #44ffa1;
	color: black;
	padding: 15px;
	border: none;
	font-family: "Manrope", sans-serif;
	font-optical-sizing: auto;
	margin-top: 100px;
	border: none;
}

.button22:hover {
	color: #44ffa1;
	border: solid 1px #44ffa1;
	background: #24053e;
}

.profil {
	position: absolute;
	margin-left: 50px;
	margin-top: 100px;
}

footer {
	margin-top: 500px;
	justify-content: center;
	text-align: center;
}
